body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: mintcream;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: lavenderblush; /* Honeydew color */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    color: palevioletred; /* Crimson color */
    text-transform: uppercase;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 40px);
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    outline: none;
    border-color: ghostwhite;
}

button {
    padding: 10px 20px;
    background-color: seashell;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: thistle;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

li {
    background-color: teal; 
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px paleturquoise;
    transition: transform 0.3s ease;
}

li:hover {
    transform: translateY(-3px);
}

.completed {
    text-decoration: line-through;
    color: palegoldenrod;
}

#quote-container {
    margin-top: 30px;
}

#quote-text {
    color:cadetblue;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 20px;
}

#quote-container button {
    padding: 8px 16px;
    background-color: khaki;
    color: mistyrose;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#quote-container button:hover {
    background-color: beige;
}
